<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PopcornTime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PopcornTimeTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PopcornTimeUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>956F090E21846F5300BFEBF1</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>959148F3215E06C8004C8FC7</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>95914907215E06CA004C8FC7</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>95914912215E06CA004C8FC7</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
